<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


  <!--Menu start-->
  <div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div  id="sidebar-wrapper">
      <div class="sidebar-heading"> <img src="/module/SideMenu/rc/img/logoexample.svg" alt="" style="margin-bottom: 7px;"> </div>
      <div class="list-group list-group-flush">

        <a href="#" id="menuitemMainMenu" class="list-group-item-action sidebar-levelone-item">
          <img class="sidebar-levelone-icon" src="/module/SideMenu/rc/img/iconexample.svg"/>
          <span class="sidebar-levelone-text">
          Main Menu
          </span>
        </a>

        <a href="#" id="menuitemFloors" class="list-group-item-action sidebar-levelone-item">
          <img class="sidebar-levelone-icon" src="/module/SideMenu/rc/img/iconexample.svg">
          Floors
        </a>

        <a href="#" id="menuitemDOMWater" class="list-group-item-action sidebar-levelone-item">
        <img class="sidebar-levelone-icon" src="/module/SideMenu/rc/img/iconexample.svg">
          <span class="sidebar-levelone-text">
          DOM Water
        </span>
        </a>

        <a href="#" id="menuitemCooling" class="list-group-item-action sidebar-levelone-item">
          <img class="sidebar-levelone-icon" src="/module/SideMenu/rc/img/iconexample.svg">
          <span class="sidebar-levelone-text">
          Cooling
        </span>
        </a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div class="border-right sidebar-leveltwo-wrapper" id="MainMenu">
      <div class="sidebar-heading sidebar-leveltwo-heading">Main Menu </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">Main Menu</a>
        <a href="station:|slot:/Drivers/HVAC|view:Boiler" class="list-group-item-action sidebar-leveltwo-item collapsible">
            Floors
        </a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">DOM Water</a>
          <div class="content">
                <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item-action sidebar-leveltwo-item">Test1</a>
                  <a href="#" class="list-group-item-action sidebar-leveltwo-item">Test2</a>
                  <a href="#" class="list-group-item-action sidebar-leveltwo-item">Test3</a>
                  <a href="#" class="list-group-item-action sidebar-leveltwo-item">Test4</a>
                </div>
          </div>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">Cooling</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">Heating</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">Vent</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item collapsible">Metering</a>
      </div>
    </div>

    <div class="border-right sidebar-leveltwo-wrapper" id="Floors">
      <div class="sidebar-heading sidebar-leveltwo-heading">Floors </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Oranges</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Apples</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Pears</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Tomato</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Garlic</a>
      </div>
    </div>

    <div class="border-right sidebar-leveltwo-wrapper" id="DOMWater">
      <div class="sidebar-heading sidebar-leveltwo-heading">DOM Water </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Cat</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Dog</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Panda</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Otter</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Bear</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Ferret</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Sparrow</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Magpie</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Bat</a>
      </div>
    </div>


    <div class="border-right sidebar-leveltwo-wrapper" id="Cooling">
      <div class="sidebar-heading sidebar-leveltwo-heading">Cooling </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Square</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Circle</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Oval</a>
        <a href="#" class="list-group-item-action sidebar-leveltwo-item">Rectangle</a>
      </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

     <!-- <div class="container-fluid">
        <img src="" alt="">
        <h1>HTML Ipsum Presents</h1>

        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h2>Header Level 2</h2>

        <ol>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

        <h3>Header Level 3</h3>

        <ul>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
      </div> -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->