#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  background-color: #BABAD1 !important;
    height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: fixed;
}

.sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#MainMenu, #Floors, #DOMWater, #Cooling {
  display:none;
}

.sidebar-leveltwo-wrapper {
    background-color:#6D6D82;
    z-index: 10;
    height: 100%;
    position: fixed;
}

.levelone-active{
  text-decoration: underline !important;
  background-color: #BABAD1 !important;
}

.leveltwo-expand{
    display: inline !important;
    margin-left: 128px;
}

.sidebar-leveltwo-wrapper .list-group{
  width: 18rem;
}

#sidebar-wrapper .list-group {
width: 8rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}


.sidebar-levelone-icon{width:70px;
height:70px;
background-color: #6D6D82;
border-radius: 900px;
padding: 0.7em;
margin-bottom:0.5em;}

.sidebar-levelone-item{
  transition-duration: 0.5s;
  transition-property: background-color;
  color: #f2f2f2 !important;
  text-align: center !important;
  padding: 0.5em 1em;
  font-weight: 700 !important;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.sidebar-levelone-item:hover{
  color: white !important;
  background-color: #BABAD1 !important;

}

.sidebar-levelone-item:focus{
background-color: #BABAD1 !important;
}

.sidebar-levelone-item:hover > .sidebar-levelone-icon {
  background-color: rgb(175, 175, 175);
  transition-duration: 0.5s;
  transition-property: background-color;  }

.sidebar-leveltwo-heading{
  font-weight: 500;
  font-size: 1.8rem;
  color: #f2f2f2;
  background-color: #8c8ca8 !important;
}

.sidebar-leveltwo-item{
  color: #f2f2f2 !important;
  padding:1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition-duration: 0.2s;
transition-property: background-color;

}

.leveltwo-active{
  border-right: 4px solid rgb(185, 185, 185);
  background-color: #8C8CA8!important;
  text-decoration: underline !important;
}


.sidebar-leveltwo-item:hover{
  color:white !important;
  background-color: #8C8CA8!important;

}

.sidebar-levelone-text {
  width:100%;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;

  }

  .active, .collapsible:hover {
    //background-color: #555;
  }

  .collapsible:after {
    content: '\003E';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }

  .active:after {
    content: "\02C5";
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #424245;
  }
